.buttonComponent{
  color: black;
  width: 80%;
  font-size: 17px;
  margin: 5px;
  border: 1px solid black;
  border-radius: 28px;
  font-family: Arial;
  text-align: left;
  outline: none;
}

.buttonComponent :active{
  background-color: blue;
}
