*{box-sizing: border-box}
html, body {
  margin: 0;
  padding: 0;
}

.modal {
  background-color: red;
}

.container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  flex-direction: row;
}

.headingOne {
  font-size: 20px;
}

.postedMessagesContainer {
  position: relative;
  text-align: left;
  border: 5px solid black;
  height: 100%;
  padding: 10px;
}

#msgName {
  font-weight: bold;
}

p {
  margin: auto;
}

.navbar {
  border: 1px #e5e3e3 solid;
  background-color: #e5e3e3;
  width: 200px;
  height: 100%;
}

#footer {
  margin-top: 150px;
}
