*{box-sizing: border-box}
html, body {
  margin: 0;
  padding: 0;
  font-family: arial;
  font-size: 14px;
}

#channelBtn :visited{
  background-color: green;
}

.modal {
  background-color: #f2f2f2;
  width: 400px;
  margin-left: 50%;
}

.createChannelBtn {
  font-size: 20px;
  border-radius: 35px;
  outline: none;
  padding: none;
}

.container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  flex-direction: row;
}

.navbar {
  border: 1px #f2f2f2 solid;
  background-color: #f2f2f2;
  width: 250px;
  height: 100vh;
}

.headingOne {
  border-bottom: 1px #dadfe8 solid;
}

.other {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.headingOne {
  font-size: 20px;
  height: 10%;
}

.postedMessagesContainer {
  padding: 10px;
  height: 80%;
  overflow: scroll;
}

.messageDetails {
  margin-top: auto;
  height: 10%;
}

#msgName {
  font-weight: bold;
}

p {
  margin: auto;
}
